/* ----------------HEAD-------------------- */
.head{
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 15px;   
     
}
#dawn{
    width: 230px;
    height: 50px;
}
/* ----------------NAV BAR-------------------- */
table{
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-spacing: 1em; 
    line-height: 30px;         
}

hr{
    margin-top: -10px;
}
a{
    color:black;
}
.red{
    color: red;
}
a:link{
    text-decoration: none; 
}

a:active{
    color: white;
}
.cursor:hover{
    background-color:lightgray;
}
#isearch{
    width: 12px;
    height: 12px;
}
#search{
    border-style: none;
    color: gray;
    font-size: 11px;
}
/* ---------------------DETAIL-------------------------------- */
#detail{
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ---------------------CAPTION------------------------------- */
.comment{
    border-color: gray  ;
    width: 500px;
    height: 40px;
    font-size: 20px;
    border-style: ridge;
}
.calign{
    margin-left: 100px;
}
textarea{
    font-size: 30px;
    color: lightgray;
    
}
#submit{
    color: white;
    background-color: black;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-left: 513px;
}
#cap{
    color: gray;
    font-size: 20px;
}